<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//DTD//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.common.service.user.mapper.UserMapper">

    <insert id="create" parameterType="com.demo.common.service.user.model.dto.AuthDTO">
        INSERT INTO users (id, username, password, nickname, email, created_at, updated_at, deleted_at)
        VALUES (#{id}, #{username}, #{password}, "", "", #{createdAt}, #{updatedAt}, #{deletedAt})
    </insert>

    <select id="findById" resultMap="userResultMap">
        SELECT * FROM users WHERE id = #{id} AND deleted_at = 0
    </select>

    <select id="findByUsername" resultMap="authResultMap">
        SELECT * FROM users WHERE username = #{username} AND deleted_at = 0;
    </select>

    <resultMap id="userResultMap" type="com.demo.common.service.user.model.dto.UserDTO">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="email" column="email" />
        <result property="nickname" column="nickname" />
    </resultMap>

    <resultMap id="authResultMap" type="com.demo.common.service.user.model.dto.AuthDTO">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
    </resultMap>
</mapper>